version: '3.8'
services:
  transferencias-service:
    build: .
    ports:
      - "8004:8004"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - cuentas-service  # Assume other services defined elsewhere
      - intermediario-service